/*general definimos los estilos mobile*/
body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	/*hack otros navegadores no chrome*/
	overflow-y: auto;
	overflow-y: overlay;
}
.grid-containerAlq {
	/*box*/
	box-sizing: border-box;

	/*definicion grid*/
	display: grid;

	/*grid template*/
	grid-template-areas:
    "nav nav nav nav"
    "asideAlq sectionAlq sectionAlq sectionAlq"
    "footer footer footer footer";
    grid-template-rows: 20vh 80vh 20vh;
  }
.nav {
    grid-area: nav;
    background-color: #F1F1F1;
}
.asideAlq {
    grid-area: asideAlq;
    background-color: red;
}
.sectionAlq {
    grid-area: sectionAlq;
    background-color: yellow;
}
.footer {
    grid-area: footer;
    background-color: #F1F1F1;
}
