     /*Titulo*/
.container-fluid {
    h1{
    color:#545859;
    }
   p {
    color:#545859;
    font-weight: bold;
    }
}
     /*Formulario de contacto*/
.contacto {
    background-image: url(/imagenes/fotocontacto\ \(1\).jpg);
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    .mb-3 {
        width: 600px;
    }
    label{
        color:#545859;
        font-weight: bold;
    }
}
@media screen and (max-width: 807px) {
    .contacto {
        background-image: url(/imagenes/fotocontacto\ \(1\).jpg);
        height: 350px ;
        background-repeat: no-repeat;
    .mb-3 {
        width: 300px;
        height: 50%;
        font-size: small;
    }
    }
}