/*variables*/

$fondo-color: #f1f1f1;
$font-general: 'Montserrat', sans-serif; 
       

/*general estilos mobile*/
body {
	margin: 0;
	font-family: $font-general;
	/*hack otros navegadores no chrome*/
	overflow-y: auto;
	overflow-y: overlay;
}

.grid-container {
	/*box*/
	box-sizing: border-box;

	/*definicion grid*/
	display: grid;

	/*grid template*/
	grid-template-areas:
	"header"
    "nav"
	"footer";
	grid-template-rows: 20vh 80vh 30vh;
	padding: 0 20px;
  grid-column-gap: 10px;
  .item {
    padding: 0px;
    border: none;
  }
}
  .nav {
  display: grid;
  background-image: url(/imagenes/fondonos.jpeg);
  width: 100%;
  height:100%;
  padding: 0px;
  h2 {
    text-align: center;
    font-size: 24px;
    color: #545859;
    justify-items: center;
    padding: 0px;
}
p {
    text-align: center;
    font-size: 12px;
    color: #080808;
    justify-items: center;
    
}
}
.header {
	grid-area: header;
	display: flex;
	border: none;
	background: $fondo-color;
  align-items: start;
  justify-content: space-between;
   img {
    width: 120px;
    height: 90px;
    
  }
  
   button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
      border: none;
  }
  .links{
  display: none;
}
}
.footer {
	background: $fondo-color;
	grid-area: footer;
}

/*definimos los estilos tablet*/
@media (min-width: 481px) and (max-width: 1199px) {
	.grid-container {
		grid-template-areas:
		  "header"
      "nav"
		  "footer";
		grid-template-rows: 20vh 80vh 30vh;
		padding: 0;
    .item {
      padding: 10px;
    }
    }

.nav {
    display: grid;
    background-image: url(/imagenes/fondonos.jpeg);
    width: 100%;
    height:100%;
    padding: 0px;

  h2 {
    text-align: center;
    font-size: 32px;
    color: #545859;
    justify-items: center;
    padding: 0px;
}
p {
    text-align: center;
    font-size: 12px;
    color: #080808;
    justify-items: center;
    
}
}

.header {
    display: flex;
    align-items: start;
    justify-content: space-between;
		padding: 5px;

    img {
      width: 120px;
      height: 90px;
    }
    
    button {
        display: none;
      }
    .links {
        display: flex;
        flex-wrap: nowrap;
       font-size: 18px;
        padding: 10px;

        .link {
          margin: 8px;
          font-size: 0.75em;
          text-align: center;
          color: #545859;
        }
      }
  }
  
  .redes{
    display: grid;
    background-color: $fondo-color;
    padding: 0px;
    justify-items: center;

    img {
      display: grid;
      width: 120px;
     height: 90px;
  }
}
}

/*definimos los estilos desktop*/
@media (min-width: 1200px) {
	body {
		font-size: 18px;
	}
	.grid-container {
		grid-template-areas:
			"header"
      "nav"
			"footer";
		grid-template-rows: 20vh 80vh 20vh;
		padding: 0;
    .item {
      padding: 0px;
      box-sizing: border-box;
     }
    }

.nav {
  display: grid;
  background-image: url(/imagenes/fondonos.jpeg);
  width: 100%;
  height:100%;

 h2 {
    text-align: center;
    font-size: 32px;
    color: #545859;
    align-items: center;
    padding: 0px;
    font-family: $font-general;
  }
 p {
    font-size: 18px;
    color: #080808;
    text-align: center;
    padding: 15px;
}
}
.header {
		padding: 5px 5px;

    button {
      display: none;
  }
  .links {
      display: flex;
      font-size: 16px;
      justify-content: flex-end;
      align-items: center;

      .link {
        margin: 12px;
        width: unset;
        color: #545859;
    }
  }
}
.footer {
	background: $fondo-color;
	grid-area: footer;
 .redes{
    display: grid;
    background-color: $fondo-color;
    padding: 0px;
    justify-items: center;

  img {
      display: grid;
      width: 150px;
     height: 120px;
  }
}
}
}