       /*Variables*/
       $fondo-color: #f1f1f1;
       $font-general: 'Montserrat', sans-serif; 
       
    /*Pagina principal*/
    body {
        font-family: $font-general;
        background-color:  $fondo-color;
    }
    .navbar{
        padding: 1rem;
        background-color:  $fondo-color;
        .collapse {
            align-items: center;
            justify-content: space-between;
        }
    }
    section {
        height: 500px;
        margin: 0px;
        padding: 0px;
        background-image: url(imagenes/fondouno.jpg);
        background-size: 100%;
    }
    .card {
        background-color:  $fondo-color;
        padding: 20px 20px 20px 20px;
        margin: 0px;
    }
    @media screen and (max-width: 767px) {
     .navbar-brand {
        display: none;
        }
    }
     @media screen and (max-width: 807px) {
        
        .d-block {
            padding: 0px;
        }
        section {
            background-image: url(imagenes/fondouno.jpg);
            height: 300px;
            background-size: 100%;
            background-repeat: no-repeat;
            .fw-light{
                color: $fondo-color;
            }
        }
        
    }
    
    @media screen and (max-width: 576px) {
        .dropdown {
            display: none;
        }
    }
    .secmail {
        background-color: #86d2df;
        padding: 0px;
        height: 170px;
        h2 {
            color: #545859 ;
        }
        .btn-sus {
            border-bottom:transparent;
            border: 1px;
            font-family: $font-general;
        }
    }
    .container-fluid{
        padding-left: 0%;
        padding-right: 0%;
    }
        /*Contacto*/
       @import "contacto";
    
        /*nosotros*/
       @import "nosotros";

         /*ventas*/
       @import "ventas";